
/*css fonts sf pro*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
body {
    font-family: 'Roboto', sans-serif;   
  }
  a{
      color:#000;
  }
  .fw-700{
      font-weight: 700;
  }
  .fw-500{
      font-weight: 500;
  }
  .fw-400{
      font-weight: 400;
  }
  .fs-44{
      font-size: 44px;
  }
  .fs-44{
    font-size: 44px;
}
.fs-52{
    font-size: 52px;
}
.fs-16{
    font-size: 16px;
}
.fs-40{
    font-size: 40px;
}
.fs-32{
    font-size: 32px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.text-orange{
    color:#FC7900;
}
.menu{
    height: 94px;
}
.nav-top,.nav-bottom{
    width: 100%;
}

.nav-top ul{
    display: flex;
    float: right;
    list-style: none;
    margin-bottom: 12px;
}
.nav-top ul li a{
    color: #787878;
}
.nav-bottom ul{
    display: flex;
    float: right;
    list-style: none;
    margin-bottom: 0px;
}
.nav{
    margin-top: 15px;
}
.nav-top ul li,.nav-bottom ul li{
    margin-left: 40px;
}
.hotline a{
    color:#FC7900 !important;
}
.logo img{
    margin-top: 28px;
}
.header{
    height: calc(100vh - 94px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.box-partner{
    width: 900px;
    background: #FCA600;
    text-align: center;
    position: absolute;
    bottom: -115px;
    padding: 29px 86px;
    left: 50%;
    transform: translate(-50%, 0px);
    min-height: 222px;
}
.p-content{
    width: 650px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.line-white{
    height: 1px;
    width: 200px;
    background: #fff;
    position: absolute;
    left: 50%;
    
    transform: translate(-50%, 0px);
}
.p-content h3, .p-content h2{
    letter-spacing: 7px;
}
.p-content h2{
    margin-top: 20px;
}
.linh-vuc{
    padding-top: 300px;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    top: -123px;
}
#slider-linh-vuc .item .col-sm-6{
    padding: 20px;
}
.item-duan{
    height: 255px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-title-du-an{
    background: #FCA600;
    height: 100%;
    width: 100%;
    padding: 30px 20px;
}
.du-an .col-sm-3,.du-an .col-sm-12, .du-an .col-6, .du-an .col-12, .du-an .col-sm-6{
    padding: 0px;
}
.du-an .row{
    margin: 0px;
}
#slider-tin-tuc{
    width: 65%;
    position: absolute;
    right: 0px;
    top: 65px;
    overflow: hidden;
}
.tin-tuc{
    position: relative;
}
.tin-tuc .container{
    background-color: #002546;
    height: 665px;
    position: relative;
}
.img-hoa{
    position: absolute;
    right: 0;
}
.box-title{
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    height: 150px;
    background-repeat: no-repeat;
    padding-left: 44px;
    padding-top: 45px;
}
#slider-tin-tuc .owl-nav{display: none;}

#slider-tin-tuc .owl-item.active{
 
}
#slider-tin-tuc .owl-item .item-title{
    display: none;
}

#slider-tin-tuc .active.first .item-title{
    display: block;
}

#slider-tin-tuc .active{
    position: relative;
}
#slider-tin-tuc .item-img{
    height: 400px !important;
    width: 100% !important;
    top: 37px;
    position: relative;
    background-size: cover;
    background-position: center;
}
#slider-tin-tuc .owl-item{
    height: 490px;
}
#slider-tin-tuc .center .item-img{
    height: 490px !important;
}
#slider-tin-tuc .item .item-img .overload{
    width: 100%;
    height: 100%;
    background: rgba(0, 37, 70, 0.5);
}
#slider-tin-tuc .active.center .overload{
    width: 0%;
    height: 0%;
}
#slider-tin-tuc .center .item-img{
    top:0px !important;
}
#slider-tin-tuc .active.center{
    width: 650px !important;
    transition: width 1s, height 1s;
}
.owl-carousel .owl-stage-outer{
   padding-left: 100px;
}

.doi-tac{
    background-color: #FCA600;
}
.footer{
    background-color: #002546;
    position: relative;
}
.footer-img-hoa{
    position: absolute;
    right: 0;
    bottom: 0px;
}
.doi-tac{
    padding-top: 30px;
}
.doi-tac .container h3{
    text-align: center;
}
#slider-doi-tac .item{
    height: 150px;
    position: relative;
}
#slider-doi-tac .item img{
    height: auto;
    width: 45% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

  @media (min-width: 1600px){
    /* .container {
        max-width: 80%;
    } */
    .linh-vuc{
        background-position-x: 25%;
    }
  }
